body, h1, form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.infocontainer {
  background-color: #0000005d;
  padding: 2rem;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
  z-index: 1010;
}

.infocontainer2 {
  background-color: #0000005d;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 1000px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 50%; 
  transform: translateX(-50%); 
  overflow-y: auto;
  z-index: 1000;
  margin-left: 2rem;
  margin-right: 2rem;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
  text-align: center;
}

p {
  margin-bottom: 1rem;
  color: #ffffff;
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.input-group input {
  width: 95%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.background-video {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: blur(5px) brightness(0.5);
  z-index: -1;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.categoria-videos img {
  opacity: 0.8;
  height: 100px;
}
